.main-modal{
  position:absolute;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content:flex-start;
  height: 60vh;
  min-width: 20%;
  background-color: salmon;
  border:1px solid black;
  border-radius: 8px;


}
.modal-overlay {
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.4); /* gray tint */
  backdrop-filter: blur(5px); /* blur background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  
}

.title-input{
  height: 30px;
  border-radius: 5px;
}

#form-text{
  height: 70%;
  border-radius: 5px;
}

#submit-btn{
  height: 30px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
  background-color: olive;
  color:white;
}

.top-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#close{
  border-radius: 100%;
  cursor:pointer;
  background-color: olive;
  color:white;
}