body{
  margin:0;
  padding:0;
}
.main-container{
  margin: 0%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  width: 100%;
  height: auto;
  background-color: peachpuff;
}

.top-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media(max-width:480px){
  .top-container{
    flex-direction: column;
  }
  
}